<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ChochGh Verification Mail</title>
</head>
<style>
    body{
        background: #ddd;
    }
</style>
<body>
    <div class="container center">
        <div class="card">
            <h3 class="card-title teal-text">ChouchGh</h3>
            <div class="card-content">
                <h4>Verify your email</h4>
                <br>
                <p>Please click the button below to verify your email.</p>
            </div>
            <div class="card-action">
                <a href="http://localhost:8080/login" class="btn waves-effect teal">Verify</a>
            </div>
        </div>
        </div>
</body>
</html>